.layout {

    width: 100%;

    height: 100vh;

    display: flex;

    flex-direction: column;

    overflow: hidden;

    background:
        radial-gradient(
            circle at top,
            #f8fafc 0%,
            #eef2f7 45%,
            #e9eef5 100%
        );

}